html,body{
	margin: 0;
	padding: 0;
	background: #f3f3f3;
    color: #666;
}
/*.header{
    background: #fff;
    width: 100%;
}
.header.configs{
    position: fixed;
    width: 100%;
    z-index: 5;
}
.header-container {
    width: 1200px;
    position: relative;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    height: 89px;
    overflow: hidden;
    transition: all 0.2s linear;
}
.header.configs .header-container{
    margin: 0;
    margin-left: 180px;
}
.header.fixed{
	position: fixed;
	z-index: 10;
	top: 0;
}
.header.fixed .header-container{
	height: 49px;
}
.header .header-logo {
	position: absolute;
    width: 435px;
    height: 69px;
    top: 20px;
    transition: 0.2s linear;
}
.header.fixed .header-logo{
	top: 90px;
}
.header .header-logo-s{
	transition: 0.2s linear;
	position: absolute;
	top: -40px;
}
.header.fixed .header-logo-s{
	top: 6px;
}
.header .header-logo-s .logo{
	display: inline-block;
	width: 25px;
	height: 34px;
	background-image: url(/new_web/static/images/logo.png);
	background-repeat: no-repeat;
	background-size:97px 34px;
	vertical-align: middle;
}
.header .header-logo .logo {
    display: inline-block;
    vertical-align: middle;
}
.header .header-logo .lsjbg-slogan1 {
    margin: 0px 16px 0px 20px;
}
.header .lsjbg.lsjbg-slogan1 {
    background-position: -90px -120px !important;
    width: 123px;
    height: 35px;
}
.header .lsjbg {
    display: inline-block;
    vertical-align: middle;
    background-image: url(http://ywfwww.laosiji.com/new_web/static/images/lsjbg0823.png) !important;
    background-repeat: no-repeat !important;
    background-position: center;
}
.header .header-logo .app-down,
.header .header-logo-s .app-down {
    display: inline-block;
    vertical-align: middle;
    width: 116px;
    height: 34px;
    line-height: 34px;
    border-radius: 30px;
    background: #fff;
}
.header .header-logo-s .app-down{
	vertical-align: middle;
	margin-left: 10px;
}
.header .btn.btn-default {
    color: #999 !important;
    border-color: #e9e9e9 !important;
}
.header .btn {
    display: block;
    text-align: center;
    border-radius: 6px;
    height: 36px;
    line-height: 38px;
    width: 100%;
    border: 1px solid transparent;
}
.header .lsjbg.lsjbg-phone-s {
    background-position: -170px -70px !important;
    width: 12px;
    height: 21px;
}
.header .lsjbg {
    display: inline-block;
    vertical-align: middle;
    background-image: url(http://ywfwww.laosiji.com/new_web/static/images/lsjbg0823.png) !important;
    background-repeat: no-repeat !important;
    background-position: center;
}
.header .header-info {
    float: right;
    width: 400px;
    position: relative;
}
.header .header-info .info-ul {
    padding-top: 32px;
}
.header .header-info .info-ul .info-item {
    float: right;
    height: 55px;
    padding: 0px 18px;
}
.header .header-info .info-ul .info-item div.user {
    margin-top: -4px;
    margin-right: -4px;
}
.header .header-info .info-ul .info-item div {
    position: relative;
}
.header .header-info .info-ul .info-item div .dot {
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #d61522;
    right: -7px;
    top: 6px;
}
.header .header-info .info-ul .info-item div .item {
    display: block;
}
.header .header-info .info-ul .info-item div .menu.us-menu {
    text-align: center;
    left: -44px;
    top: 50px;
}
.header .header-info .info-ul .info-item div .menu {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: none;
    width: 94px;
    padding: 12px 15px;
    border: 1px solid #e9e9e9;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 6px;
    z-index: 1000;
}
.header .header-info .info-ul .info-item div .menu .triangle {
    top: -10px;
    left: 53px;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #e9e9e9;
}
.header .header-info .info-ul .info-item div .menu.us-menu {
    text-align: center;
    left: -44px;
    top: 50px;
}
.header .header-info .info-ul .info-item div .menu .triangle .tri-depth {
    top: 2px;
    left: -7px;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid #fff;
}
.header .header-info .info-ul .info-item div li {
    overflow: hidden;
    padding: 3px 0px;
    position: relative;
}
.header .header-info .info-ul .info-item div .menu a {
    display: block;
    line-height: 1.5;
    clear: both;
    overflow: hidden;
}
.header .header-info .info-ul .info-item div li a {
    color: #999;
}*/
.clearfix {
	*zoom: 1
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both
}

.fl {
	float: left
}

.fr {
	float: right
}
.header {
	width: 100%;
	height: 100px;
	border: none;
	position: static;
}
.header .header-box{
	border-bottom: 1px solid #e9e9e9;
	background: #fff;
}
.header .header-space{
	height: 10px;
	background: #f3f3f3;
	transition: all 0s linear;
}
.header.fixed .header-space{
	height: 0px;
}
#car-home-header.fixed .header-space{
	height: 10px;
}
.header input{
	border: none;
}
.header.fixed {
	position: fixed;
	z-index: 13;
	top: 0;
	height: 49px;
}
.header.fixed .header-info .info-ul .info-item{
	height: auto;
}
.header .container{
	width: 1200px;
    *zoom: 1;
    position: relative;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
}
.header.fixed .container,
.header.fixed .header-container {
	height: 49px
}

.header.fixed .container .header-logo-box,
.header.fixed .header-container .header-logo-box {
	height: 49px
}

.header.fixed .header-logo {
	top: 90px
}

.header.fixed .header-logo-s {
	top: 6px
}

.header.fixed .header-info .info-ul {
	padding-top: 10px
}

.header.fixed .header-info .remind-box {
	top: 50px
}

.header .container,
.header .header-container {
	position: relative;
	height: 89px;
	transition: all 0.2s linear
}

.header .container .header-logo-box,
.header .header-container .header-logo-box {
	overflow: hidden;
	width: 435px;
	height: 69px;
	float: left;
	position: relative
}

.header .header-logo,
.header .header-logo-s {
	position: absolute;
	width: 435px;
	height: 69px;
	top: 20px;
	transition: 0.2s linear;
	overflow: hidden
}

.header .header-logo .logo,
.header .header-logo-s .logo {
	display: inline-block;
	vertical-align: middle
}

.header .header-logo .lsjbg-slogan1,
.header .header-logo-s .lsjbg-slogan1 {
	margin: 0px 16px 0px 20px
}

.header .header-logo .app-down,
.header .header-logo-s .app-down {
	display: inline-block;
	vertical-align: middle;
	width: 116px;
	height: 34px;
	line-height: 34px;
	border-radius: 30px
}

.header .header-logo-s {
	top: -40px;
	height: 36px
}

.header .header-logo-s .logo {
	display: inline-block;
	width: 25px;
	height: 34px;
	background-image: url(/new_web/static/images/logo.png);
	background-repeat: no-repeat;
	background-size: 97px 34px;
	vertical-align: middle
}

.header .header-logo-s .app-down {
	margin-left: 10px
}

.header .header-info {
	float: right;
	width: 400px;
	position: relative;
	background: #fff;
}
.header .header-container .header-info{
	padding-right: 180px;
}
.header .header-info .remind-box {
	min-width: 150px;
	padding: 15px;
	background-color: #fffbf1;
	border: 1px solid #ffedbb;
	box-shadow: 2px 3px 8px -2px #ccc;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position: absolute;
	top: 90px;
	right: -84px;
	z-index: 101
}

.header .header-info .remind-box .item {
	padding: 5px 0px;
	font-size: 12px;
	color: #666
}

.header .header-info .remind-box .item a {
	font-size: 12px;
	color: #33a4f7
}

.header .header-info .remind-box .close {
	display: block;
	position: absolute;
	right: 15px;
	top: 20px
}

.header .header-info .remind-box .close i {
	font-size: 12px;
	font-weight: 600;
	color: #999
}

.header .header-info .info-ul {
	transition: 0.2s linear;
	padding-top: 32px
}

.header .header-info .info-ul .info-item {
	float: right;
	height: 55px;
	padding: 0px 18px
}

.header .header-info .info-ul .info-item div {
	position: relative
}

.header .header-info .info-ul .info-item div .item {
	display: block
}

.header .header-info .info-ul .info-item div .menu {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	display: none;
	width: 94px;
	padding: 12px 15px;
	border: 1px solid #e9e9e9;
	position: absolute;
	background-color: #FFFFFF;
	border-radius: 6px;
	z-index: 1000
}

.header .header-info .info-ul .info-item div .menu .triangle {
	top: -10px;
	left: 53px;
	width: 0;
	height: 0;
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 10px solid #e9e9e9
}

.header .header-info .info-ul .info-item div .menu .triangle .tri-depth {
	top: 2px;
	left: -7px;
	width: 0;
	height: 0;
	position: absolute;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 8px solid #fff
}

.header .header-info .info-ul .info-item div .menu a {
	display: block;
	line-height: 1.5;
	clear: both;
	overflow: hidden
}

.header .header-info .info-ul .info-item div .menu.ms-menu {
	left: -52px;
	top: 45px
}

.header .header-info .info-ul .info-item div .menu.us-menu {
	text-align: center;
	left: -44px;
	top: 50px
}

.header .header-info .info-ul .info-item div .menu.us-menu .dot {
	right: 12px
}

.header .header-info .info-ul .info-item div li {
	overflow: hidden;
	padding: 3px 0px;
	position: relative
}

.header .header-info .info-ul .info-item div li a {
	color: #999
}

.header .header-info .info-ul .info-item div.search {
	padding: 4px 10px 5px;
	border-radius: 20px;
	border: 1px solid #e9e9e9;
	margin-top: -4px
}

.header .header-info .info-ul .info-item div.search .item {
	display: inline-block;
	margin-top: 2px
}

.header .header-info .info-ul .info-item div.search .item .icon {
	height: 20px;
	padding-bottom: 5px;
	margin-top: -2px
}

.header .header-info .info-ul .info-item div.search .search-input {
	width: 176px;
	margin-left: 10px;
	color: #ccc;
	font-size: 14px
}

.header .header-info .info-ul .info-item div.message .dot {
	top: 2px
}

.header .header-info .info-ul .info-item div.user {
	margin-top: -4px;
	margin-right: -4px
}

.header .header-info .info-ul .info-item div.user img {
	width: 35px;
	height: 35px;
	border-radius: 50%
}

.header .header-info .info-ul .info-item:hover .menu {
	display: block
}

.header .header-info .info-ul .info-item .log-txt {
	color: #999
}

.header .header-info .info-ul .line {
	display: block;
	float: left;
	height: 14px;
	width: 1px;
	background: #ccc;
	margin-top: 6px;
	float: right
}

.header .header-info .info-ul .login {
	padding: 6px 0px;
	display: block
}
.header .btn {
	display: block;
	text-align: center;
	border-radius: 6px;
	height: 36px;
	line-height: 38px;
	width: 100%;
	border: 1px solid transparent
}

.header .btn.btn-default {
	color: #999 !important;
	border-color: #e9e9e9 !important
}

.header .btn.btn-default .icon {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease
}

.header .btn.btn-default:hover {
	color: #666 !important;
	border-color: #404040 !important
}

.header .btn.btn-default:hover * {
	color: #666 !important;
	border-color: #404040 !important
}

.header .btn.btn-default.current {
	color: #fff !important;
	background-color: #404040 !important;
	border-color: #404040 !important
}

.header .btn.btn-default.active {
	color: #33a4f7 !important;
	border-color: #33a4f7 !important
}
.topline{
	width: 100%;
	height: 10px;
	background: #f3f3f3;
	border-top:1px solid #e9e9e9;
	transition: 0.2s linear;
}
.footer1 {
	height: 70px;
	background: #e2e2e2;
	padding-top: 30px;
	overflow: hidden;
	margin-top: 10px;
}
.footer1 .container{
	width: 1200px;
    *zoom: 1;
    position: relative;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
}
.footer1 .foot-left a {
	display: inline-block;
	font-size: 0;
	vertical-align: middle
}

.footer1 .foot-left .foot-logo img {
	height: 40px
}

.footer1 .foot-left .foot-left-text {
	display: inline-block;
	color: #999;
	font-size: 16px;
	margin: 0px 20px;
	vertical-align: bottom
}

.footer1 .foot-left .foot-friend {
	margin-right: 8px
}

.footer1 .foot-right {
	color: #999;
	font-size: 12px;
	margin-top: 11px
}

.footer1 .foot-right img {
	vertical-align: middle;
	margin-right: 4px;
	margin-left: 8px
}
.wrapper{
	width: 1200px;
	margin: auto;
    background: #f3f3f3;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.wrapper .nav{
	float: left;
	width: 160px;
	height: 100px;
	margin-right: 20px;
	position: fixed;
	transition: 0.2s linear;
}
.wrapper .nav ul{
	width: 158px;
	border: 1px solid #e9e9e9;
	background: #fff;
	border-radius: 5px;
	margin-top: -1px;
}
.wrapper .nav ul li{
	padding:0px 20px;
	transition: 0.2s linear;
}
.wrapper .nav ul li:hover,
.wrapper .nav ul li.active{
	background: #404040
}
.wrapper .nav ul li a{
	display: block;
	line-height: 72px;
	border-top:1px solid #e9e9e9; 
	font-size: 18px;
	color: #404040;
	transition: 0.2s linear
}
.wrapper .nav ul li:hover a,
.wrapper .nav ul li.active a{
	color: #fff;
	border-top-color:#404040;
}
.wrapper .nav ul li:first-child{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.wrapper .nav ul li:last-child{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.wrapper .nav ul li:first-child a{
	border-top: none;	
}
.wrapper .main{
	float: left;
	width: 1020px;
	margin-left: 180px;
}
.icon {
	position: relative;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	font-family: "lsj" !important;
	font-size: 30px;
	color: #d0d0d0;
	display: inline-block;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased
}

.icon.icon-publish:before {
	content: "\5E"
}

.icon.icon-search:before {
	content: "\59"
}

.icon.icon-message:before {
	content: "\5A"
}

.icon.icon-forward:before {
	content: "\4B"
}

.icon.icon-comment:before {
	content: "\4C"
}

.icon.icon-praise:before {
	content: "\4D"
}

.icon.icon-left:before {
	content: "\5B"
}

.icon.icon-right:before {
	content: "\5C"
}

.icon.icon-tick:before {
	content: "\23"
}

.icon.icon-mutual {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg)
}

.icon.icon-mutual:before {
	content: "\27"
}

.icon.icon-add:before {
	content: "\5F"
}

.icon.icon-praise:before {
	content: "\38"
}

.icon.icon-car:before {
	content: "\57"
}

.icon.icon-image,
.icon.icon-video,
.icon.icon-link {
	font-size: 17px;
	margin-right: 4px
}

.icon.icon-image:before {
	content: "\54"
}

.icon.icon-video:before {
	content: "\55"
}

.icon.icon-delete:before {
	content: "\56"
}

.icon.icon-link:before {
	content: "\60"
}

.icon.icon-top:before {
	content: "\61"
}

.icon.icon-star:before {
	content: "\3C"
}
.lsjbg {
	display: inline-block;
	vertical-align: middle;
	background-image: url(/new_web/static/images/lsjbg0908.png) !important;
	background-repeat: no-repeat !important;
	background-position: center
}

.lsjbg.lsjbg-vip {
	height: 17px;
	width: 17px;
	background-position: 0px -35px !important;
	margin-left: 4px
}

.lsjbg.lsjbg-vip-3x {
	background-image: url(/new_web/static/images/vip.png) !important;
	width: 30px;
	height: 30px
}

.lsjbg.lsjbg-qq {
	height: 27px;
	width: 27px;
	background-position: -30px 0px !important
}

.lsjbg.lsjbg-wx {
	height: 27px;
	width: 27px;
	background-position: -90px 0px !important
}

.lsjbg.lsjbg-weibo {
	height: 27px;
	width: 27px;
	background-position: 0px 0px !important
}

.lsjbg.lsjbg-friend {
	height: 27px;
	width: 27px;
	background-position: -120px 0px !important
}

.lsjbg.lsjbg-qqzone {
	height: 27px;
	width: 27px;
	background-position: -60px 0px !important
}

.lsjbg.lsjbg-arrow-left {
	width: 40px;
	height: 59px;
	background-position: -160px 0px !important
}

.lsjbg.lsjbg-arrow-right {
	width: 40px;
	height: 59px;
	background-position: -210px 0px !important
}

.lsjbg.lsjbg-arrow2-bottom {
	width: 9px;
	height: 8px;
	background-position: -30px -35px !important
}

.lsjbg.lsjbg-phone {
	background-position: -10px -70px !important;
	width: 20px;
	height: 36px
}

.lsjbg.lsjbg-phone-s {
	background-position: -170px -70px !important;
	width: 12px;
	height: 21px
}

.lsjbg.lsjbg-weibo-l {
	background-position: 0px -120px !important;
	width: 30px;
	height: 30px
}

.lsjbg.lsjbg-toutiao-l {
	background-position: -36px -120px !important;
	width: 30px;
	height: 30px
}

.lsjbg.lsjbg-female {
	background-position: -60px -35px !important;
	width: 20px;
	height: 20px
}

.lsjbg.lsjbg-male {
	background-position: -90px -35px !important;
	width: 20px;
	height: 20px
}

.lsjbg.lsjbg-beian {
	background-position: -120px -35px !important;
	width: 20px;
	height: 20px
}

.lsjbg.lsjbg-refresh {
	background-position: -90px -70px !important;
	width: 20px;
	height: 17px
}

.lsjbg.lsjbg-sofa {
	background-position: -120px -70px !important;
	width: 32px;
	height: 15px;
	margin-top: 1px
}

.lsjbg.lsjbg-slogan1 {
	background-position: -90px -120px !important;
	width: 123px;
	height: 35px
}

.lsjbg.lsjbg-slogan2 {
	background-position: 0px -170px !important;
	width: 250px;
	height: 32px
}

.lsjbg.lsjbg-planet {
	background-position: -270px 0px !important;
	width: 108px;
	height: 78px
}

.lsjbg.lsjbg-community-add {
	background-position: -280px -100px !important;
	width: 80px;
	height: 80px
}