.common-input .common-input-area{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	border: 1px solid #e9e9e9;
	border-radius: 5px;
	padding: 15px;
	line-height: 0;
	background: #fff;
}
.common-input .common-input-area textarea{
	height: 18px;
	line-height: 18px;
	padding: 0;
	border: none;
	width: 100%;
}
.common-input .commonInput-btnArea{
	height: 40px;
	line-height: 40px;
}
.common-input .commonInput-btnArea a{
	display: inline-block;
	color: #999;
	font-size: 14px;
}
.common-input .commonInput-btnArea .pubCommonBtn{
	float: right;
	width: 80px;
	height: 25px;
	line-height: 26px;
	margin-top: 8px;
	font-size: 12px;
	color: #fff;
	background-color: #404040;
	border-radius: 5px;
	text-align: center;
}
.common-input .commonInput-btnArea .common-text-input-count{
	line-height: 40px;
	margin-right: 10px;
	display: inline-block;
	color: #999;
	float: right;
}
.common-input .commonInput-btnArea .common-text-input-count i{
	font-weight: 700;
    font-size: 22px;
    font-style: italic;
    font-family: Constantia, Georgia;
    color: #d62417;
}
.common-input .commonInput-btnArea .pubCommonBtn:hover{
	background-color: #555555
}
.common-input .commonInput-btnArea .commonInput-faceBtn,
.common-input .commonInput-btnArea .commonInput-upImgBtn,
.common-input .commonInput-btnArea .commonInput-upVideoBtn,
.common-input .commonInput-btnArea .commonInput-articleBtn{
	margin-right: 20px;
	line-height: 20px;
}
.common-input .commonInput-btnArea .commonInput-faceBtn:hover,
.common-input .commonInput-btnArea .commonInput-upImgBtn:hover,
.common-input .commonInput-btnArea .commonInput-upVideoBtn:hover,
.common-input .commonInput-btnArea .commonInput-articleBtn:hover{
	color: #666;
}
.common-input .commonInput-btnArea .commonInput-faceBtn:before,
.common-input .commonInput-btnArea .commonInput-upImgBtn:before,
.common-input .commonInput-btnArea .commonInput-upVideoBtn:before,
.common-input .commonInput-btnArea .commonInput-articleBtn:before{
	font-family: 'lsj';
	font-size: 28px;
	color:#ffb90a;	
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.common-input .commonInput-btnArea .commonInput-faceBtn:before{
	content: '\4E';
}
.common-input .commonInput-btnArea .commonInput-upImgBtn:before{
	content: '\51';
}
.common-input .commonInput-btnArea .commonInput-upVideoBtn:before{
	content: '\4F';	
}
.common-input .commonInput-btnArea .commonInput-articleBtn:before{
	content: '\52';	
}
.common-input .commonInput-btnArea  .common-input-count{
	line-height: 40px;
	margin-right: 10px;
	display: inline-block;
	color: #999;
	float: right;
}
.common-input .commonInput-btnArea  .common-input-count i{
	font-weight: 700;
    font-size: 22px;
    font-style: italic;
    font-family: Constantia, Georgia;
    color: #d62417;
}
.custom-face-container{
	width: 416px;
	height: 150px;
}
.custom-face-container a{
	display: inline-block;
	padding: 5px 0px;
    width: 34px;
    height: 20px;
    text-align: center;
}
.custom-face-container a img{
	height: 20px;
	width: auto;
}