@font-face {
	font-family: 'lsjcar';
	src: url('../font/lsjv1.5.eot');
	src: url('../font/lsjv1.5.eot?#iefix') format('embedded-opentype'), url('../font/lsjv1.5.ttf') format('truetype'), url('../font/lsjv1.5.woff') format('woff'), url('../font/lsjv1.5.svg#ywf') format('svg');
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	font-weight: normal;
}
#condition-box{
	border: 1px solid #e9e9e9;
	border-radius: 5px;
	padding:0px 10px;
	width: 998px;
	background: #fff;
	top: -100px;
}
.condition-line{
	height: 10px;
	background: #f3f3f3;
	width: 100%;
}
.condition-line.fixed{
	position: fixed;
	z-index: 9;
	top: 108px;
}
#condition-box.fixed{
	position: fixed;
	top: 60px;
	margin-top: 0px;
	z-index: 10;
}
.OdCarConditionContainer{
	overflow: hidden;
	height: 0px;
}
.OdCarConditionContainer .OdCarCondition {
	display: table;
	line-height: 0;
	/*border-bottom: 1px solid #e9e9e9;*/
	/*width:100%;*/
	padding: 10px 0px 5px;
}
.OdCarConditionContainer .OdCarCondition  dt,
.OdCarConditionContainer .OdCarCondition  dd{
	display: table-cell;
	vertical-align: top;
}
.OdCarConditionContainer .OdCarCondition  dt{
	width: 70px;
	text-align: right;
	font-size: 14px;
	line-height: 30px;
	color: #999;
}
.OdCarConditionContainer .OdCarCondition  dt{
	text-align: right;
}
.OdCarConditionContainer .OdCarCondition  dd{
	text-align: left;
}
.OdCarConditionContainer .OdCarCondition  dd .btn{
	display: inline-block;
	border-radius: 3px;
	/*border: 1px solid #e9e9e9;*/
	line-height: 28px;
	height: 28px;
	overflow: hidden;
	/*width: 83px;*/
	text-align: center;
	color: #666;
	font-size: 14px;
	vertical-align: top;
	transition: all 0.1s linear;
	padding: 0px 10px;
	margin-bottom: 3px;
	margin-left: 3px;
}
.OdCarConditionContainer .OdCarCondition  dd .btn.cfg{
	padding: 0px;
	text-align: left;
	width: 130px;
}
.OdCarConditionContainer .OdCarCondition  dd .btn.cfg input{
	vertical-align: middle;
}
.OdCarConditionContainer .OdCarCondition  dd .multi .multi-arrow{
	display: inline-block;
	font-family: 'lsjcar';
	vertical-align: top;
	line-height: 12px;
	margin-left: 5px;
	margin-top: 7px;
}
.OdCarConditionContainer .OdCarCondition  dd .multi .multi-arrow:after{
	content: '\5D';
	font-size: 12px;
}
.OdCarConditionContainer .OdCarCondition  dd .multi .small-cate-box{
	position: absolute;
	z-index: -5;
	margin-left: -10px;
	left: -100000px;
}
.OdCarConditionContainer .OdCarCondition  dd .multi .small-cate{
	background: #fff;
	font-size: 12px;
	border-radius: 3px;
	border:1px solid #e9e9e9;
	padding:10px 0px;
	box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.26);
	opacity: 0;
	margin-top: 0px;
	transition: opacity 0.2s linear,margin-top 0.2s linear;
}
.OdCarConditionContainer .OdCarCondition  dd .multi:hover .small-cate-box{
	z-index: 5;
	left: auto;
}
.OdCarConditionContainer .OdCarCondition  dd .multi:hover .small-cate{
	margin-top: 5px;
	color: #666;
	opacity: 1;
}
.OdCarConditionContainer .OdCarCondition  dd .multi .small-cate li{
	text-align: left;
	margin-bottom: 0px;
}
.OdCarConditionContainer .OdCarCondition  dd .multi .small-cate:hover{
	color: #666;
}
.OdCarConditionContainer .OdCarCondition  dd .multi .small-cate li input{
	vertical-align: middle;
}
.OdCarConditionContainer .OdCarCondition  dd .multi .small-cate .small-cate-btn{
	display: inline-block;
	line-height: 25px;
	color: #fff;
	background: #404040;
	font-size: 12px;
	text-align: center;
	width: 46px;
	border-radius: 3px;
	cursor: pointer;
}
.OdCarConditionContainer .OdCarCondition  dd .multi .small-cate .small-cate-item{
	padding:0px 20px;
	text-align: center;
	display: block;
	transition: all 0.2s linear;
}
.OdCarConditionContainer .OdCarCondition  dd .multi .small-cate .small-cate-item:hover,
.OdCarConditionContainer .OdCarCondition  dd .multi .small-cate .small-cate-item.active{
	background: #404040;
	color: #fff;
}
.OdCarConditionContainer .OdCarCondition  dd .multi .small-cate .small-cate-item.disabled{
	color: #ccc;
}
.OdCarConditionContainer .OdCarCondition  dd .multi .small-cate .small-cate-item.disabled:hover{
	color: #ccc;
	background: #fff;
}
.OdCarConditionContainer .OdCarCondition  dd .multi.open{
	overflow: visible;
	height: 61px;
}
.OdCarConditionContainer .OdCarCondition  dd .multi .multi-box{
	color: #666;
}
.OdCarConditionContainer .OdCarCondition  dd .multi.open .multi-arrow{
	margin-top: 6px;
}
.OdCarConditionContainer .OdCarCondition  dd .multi.active .multi-box{
	color: #fff;
}
.OdCarConditionContainer .OdCarCondition  dd .multi.open .multi-box{
	color: #666;
}

.OdCarConditionContainer .OdCarCondition  dd .multi.open .multi-arrow:after{
	content: '\61';
	font-size: 12px;
}
.OdCarConditionContainer .OdCarCondition  dd .multi.open .multi-box{
    display: block;
    line-height: 28px;
    height: 34px;
    background: #fff;
    position: absolute;
    z-index: 1001;
    width: 83px;
}
.OdCarConditionContainer .OdCarCondition  dd .multi .sBtnBox{
	display: block;
	position: absolute;
	height: 0px;
	overflow: hidden;
	border:0px solid #e9e9e9;
	border-radius: 3px;
	background: #fff;
	margin-top: 5px;
	margin-left: -1px;
	padding:0px 10px;
	transition: all 0.1s linear;
}
.OdCarConditionContainer .OdCarCondition  dd .multi.open .sBtnBox{
    display: block;
    position: absolute;
    height: 28px;
    border: 1px solid #e9e9e9;
    overflow: hidden;
    margin-top: 33px;
    border-top-left-radius: 0px;
}
.OdCarConditionContainer .OdCarCondition  dd .multi .sBtnBox span input{
	vertical-align: middle;
}
.OdCarConditionContainer .OdCarCondition  dd .multi .sBtnBox .sBtn{
	display: table-cell;
}
.OdCarConditionContainer .OdCarCondition  dd .btn:hover{
	background-color: #404040;
	color: #fff;
}
.OdCarConditionContainer .OdCarCondition  dd .btn:hover .sBtnBox{
	border-color: #999;
}
.OdCarConditionContainer .OdCarCondition  dd .btn.disabled{
	color: #ccc;
}
.OdCarConditionContainer .OdCarCondition  dd .btn.disabled:hover{
	background: none;
	color: #ccc;
}
.OdCarConditionContainer .OdCarCondition  dd .btn.cfg:hover{
	background:none;
	color:#666;
}
.OdCarConditionContainer .OdCarCondition  dd .btn.cfg.disabled:hover{
	background: none;
	color: #ccc;
}
.OdCarConditionContainer .OdCarCondition  dd .btn.active{
	border-color: #404040;
	background:#404040;
	color: #fff;
}
.OdCarConditionContainer .OdCarCondition  dd .btn.active.open{
	color: #666;
}
.OdCarConditionContainer .OdCarCondition  dd .btn .sbtn{
	display: inline-block;
	padding: 0px 10px
}
.OdCarConditionContainer .OdCarCondition  dd .custom-price{
	display: inline-block;
	border-radius: 3px;
	color: #666;
	font-size: 12px;
	transition: all 0.2s linear;
	margin: 0px 5px 5px 10px;
}
.OdCarConditionContainer .OdCarCondition  dd .custom-price input{
	display: inline-block;
	border: none;
	border: 1px solid #d8d8d8;
	width: 48px;
	padding: 0px;
	border-radius: 3px;
	background: none;
	text-align: center;
	line-height: 25px;
	height: 25px;
	vertical-align: middle;
	font-size: 12px;
}
.OdCarConditionContainer .OdCarCondition  dd .custom-price em{
	display: inline-block;
	vertical-align: middle;
	/*margin: 0px 5px;*/
}
.OdCarConditionContainer .OdCarCondition  dd .custom-price input:focus{
	border: 1px solid #33a4f7;
}
.OdCarConditionContainer .OdCarCondition  dd .custom-price a{
	display: inline-block;
	vertical-align: middle;
	line-height: 27px;
	width: 50px;
	margin-left: 5px;
	color: #fff;
	background: #404040;
	text-align: center;
	border-radius: 3px;
}
.OdCarConditionContainer .OdCarCondition  dd .custom-price.active{
	background: #404040;
	color: #999
}
.OdCarConditionContainer .OdCarCondition  dd .custom-price.active a{
	color: #fff;
}
.OdCarConditionContainer .OdCarCondition  dd .custom-price.active input{
	color: #999;
}
.conditionLabelBox{
	/*height:50px;*/
	font-size: 12px;
}
.conditionLabelBox .conditionLabel{
	display: inline-block;
	border-radius: 3px;
	border: 1px solid #33a4f7;
	line-height: 28px;
	height: 28px;
	/*overflow: hidden;*/
	min-width: 73px;
	padding: 0px 5px;
	text-align: center;
	color: #33a4f7;
	font-size: 12px;
	transition: all 0.2s linear;
	margin:10px 5px 0px 0px;
}
.conditionLabelBox .conditionLabel i{
	font-size: 20px;
	line-height: 26px;
	display: inline-block;
	float: right;
	margin-left: 5px;
	color: #666;
}
.conditionLabelBox .conditionLabel:hover{
	background: #33a4f7;
	color: #fff;
}
.conditionLabelBox .conditionLabel:hover i{
	color: #fff;
}
.conditionLabelBox .clearAllCondition{
	display: inline-block;
	line-height: 28px;
	height: 28px;
	text-align: center;
	color: #666;
	font-size: 12px;
	transition: all 0.2s linear;
	margin: 0px 5px 5px 10px;
	vertical-align: top;
}
.conditionLabelBox .clearAllCondition:hover{
	color: #999;
}
.conditionLabelBox .conditionLabelTitle{
	width: 60px;
	text-align: right;
	font-size: 12px;
	line-height: 30px;
	display: inline-block;
	vertical-align: top;
}
.folderBtn{
	display: block;
	text-align: center;
	border-top: 1px solid transparent;
	height: 48px;
	line-height: 48px;
	font-size: 18px;
	color: #33a4f7;
	margin-top: -1px;
	transition: color 0.2s linear;
}
.folderBtn em{
	line-height: 33px;
}
.folderBtn i{
	font-family: 'lsjcar';
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
	margin-top:10px;
	width: 26px;
	height: 26px;
	background: url(http://imageqiniu.xxxxxbbs.com/FrqIsilSHdO9110YbVLMvOyefsbu) no-repeat;
}
.folderBtn.active{
	border-top: 1px solid #e9e9e9;
}
/*配置页样式*/
.OdCarConfigTable,
.OdCarConfigTableHeader,
.OdCarConfigTableSide{
	/*width: 100%;*/
	background-color: #e9e9e9;
	color: #666;
	font-size: 12px;
	border-spacing: 1px;
	left: 0px;
	table-layout: fixed;
}
.OdCarConfigTableHeader{
	top: 0px;
}
.OdCarConfigTable{
	margin-top: -1px;
}
.OdCarConfigTableSide{
	position: fixed;
	left: 0px;
	/*display: none;*/
}
.OdCarConfigTable td,
.OdCarConfigTable th,
.OdCarConfigTableHeader td,
.OdCarConfigTableHeader th,
.OdCarConfigTableSide td,
.OdCarConfigTableSide th{
	background-color: #fff;
	vertical-align: middle;
	width: 198px;
	padding:0px;
}
.OdCarConfigTable td,
.OdCarConfigTableHeader td{
	text-align: center;
	height: 30px;
}
.OdCarConfigTable th,
.OdCarConfigTableHeader th,
.OdCarConfigTableSide th{
	font-weight: normal;
}
.OdCarConfigTableSide th{
	height: 30px;
	width: 199px;
	background: #fff;
	text-align: right;
}
.OdCarConfigTable .itemsTitle,
.OdCarConfigTableSide .itemsTitleL{
	text-align: left;
	line-height: 40px;
	font-size: 14px;
}
.OdCarConfigTableHeader.fixed{
	position: fixed;
	background-color: #e9e9e9;
	z-index: 5;
	border-spacing: 1px;
	top: 0px;

}
.OdCarConfigTableHeader .carxNameBox,
.OdCarConfigTable .confs{
	position: relative;
}
.OdCarConfigTableHeader .carxNameBox{
	height: 111px;
	width: 198px;
}
.OdCarConfigTableHeader .carxNameBox .carxNameText,
.OdCarConfigTableHeader .carxNameBox .carxNameDiv{
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	bottom: 52px;
}
.OdCarConfigTableHeader .carxNameBox .carxNameText{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0px 20px;
    height: 36px;	
}
.OdCarConfigTableHeader .carxNameBox .carxNameDiv{
	position: static;
	margin-top: 10px;
}
.OdCarConfigTableHeader .carxNameBox.title{
	vertical-align: top;
}
.OdCarConfigTableHeader .carxNameBox .carxNameConfig .highLight{
	margin-top: 24px;
}
.OdCarConfigTableHeader .carxNameBox .carxNameConfig.fixed,
.OdCarConfigTableHeader .thInfoHeadDiv.fixed{
	position: fixed;
	width: 199px;
	display: table-cell;
	vertical-align: middle;
	border:1px solid #e9e9e9;
	z-index: 10;
	background-color: #fff;
	height: 58px;
	line-height: 58px;
}
.OdCarConfigTableHeader .operateBox,
.OdCarConfigTableHeader .operateBoxPk{
	display: block;
	position: absolute;
	bottom: 20px;
	margin-top: 10;
	width: 100%;
	text-align: center;
	margin-top: 5px;
}
.OdCarConfigTableHeader .operateBoxPk{
	position: static;
	margin-bottom: 10px;
}
.OdCarConfigTableHeader .closeBtn{
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 18px;
	color: #666;
	line-height: 24px;
	width: 24px;
	text-align: center;
}
.OdCarConfigTableHeader .closeBtn:hover{
	color: #33a4f7;
}
.OdCarConfigTable .confsTitle{
	text-align: right;
}
.OdCarConfigTableHeader .carxNameBox.carxNameFilter{
}
.OdCarConfigTableHeader .highLight,
.OdCarConfigTableHeader .hideSame,
.OdCarConfigTableHeader .hideEmpty{
	text-align: left;
	line-height: 20px;
	margin-left: 20px;
}
.OdCarConfigTableHeader .highLight input,
.OdCarConfigTableHeader .hideSame input,
.OdCarConfigTableHeader .hideEmpty input{
	vertical-align: middle;
}
.OdCarConfigTableHeader .highLight label,
.OdCarConfigTableHeader .hideSame label,
.OdCarConfigTableHeader .hideEmpty label{
	vertical-align: middle;
}
.OdCarConfigTableHeader .highLight{
	margin-top: 24px;
}
.OdCarConfigTableHeader .hideEmpty{
	margin-bottom: 24px;
}
.OdCarConfigTableBody:hover td,
.OdCarConfigTableBody:hover th{
	background: #f2f7f9
}
.OdCarConfigTableBody.active td,
.OdCarConfigTableBody.active th{
	background: #f9f9f9;
}
.OdCarConfigAddCompareBtn,
.OdCarConfigRemoveCompareBtn,
.OdCarConfigRemoveCompareBtnDisabled{
	display: inline-block;
	border-radius: 3px;
	background: #33a4f7;
	color: #fff;
	text-align: center;
	width: 95px;
	line-height: 22px;
	font-size: 12px;
	vertical-align: top;
}
.OdCarConfigRemoveCompareBtn{
	width: 50px;
}
.OdCarConfigRemoveCompareBtnDisabled{
	cursor:default;
	background-color: #ccc;
	width: 50px;
}
.OdCarConfigAddCompareBtn:hover{
	background-color: ;
}
.OdCarConfigMoveRight,
.OdCarConfigMoveLeft{
	display: inline-block;
	font-family: 'lsjcar';
	color: #404040;
}
.OdCarConfigMoveRight:hover,
.OdCarConfigMoveLeft:hover{
	color: #33a4f7;
}
.OdCarConfigMoveRight.disabled,
.OdCarConfigMoveLeft.disabled{
	color: #ccc;
}
.OdCarConfigMoveRight i,
.OdCarConfigMoveLeft i{
	display: inline-block;
	font-size: 22px;
	line-height: 22px;
	vertical-align: top;
}
.OdCarConfigMoveRight i{
	margin-left: 10px;
}
.OdCarConfigMoveLeft i{
	margin-right: 10px;
}
.OdCarConfigMoveLeft i:after{
	content: '\5B';
}
.OdCarConfigMoveRight i:after{
	content: '\5C';
}
.OdCarConfigNav{
	display: block;
	/*display: none;*/
	position: absolute;
	width: 158px;
	border: 1px solid #e9e9e9;
	/*padding-top: 10px;*/
	font-size: 12px;
	background: #fff;
	padding: 10px 0px;
	border-radius: 5px;
}
.OdCarConfigNav li{
	width: 160px;
	position: relative;
}
.OdCarConfigNav li a{
	display: inline-block;
	text-align: center;
	width: 160px;
	margin-left: -1px;
	line-height: 28px;
	color: #666;
}
.OdCarConfigNav li em{
	position: absolute;
	left: 158px;
	top: 7px;
	display: inline-block;
	width: 0;
	height: 0;
	border-width: 7px;
	border-style: solid;
	font-size: 0;
	line-height: 0;
	vertical-align: top;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-top-color: transparent;
	transition: border-color 0.2s linear;
}
.OdCarConfigNav li:hover a{
	background-color: #e9e9e9;
	color: #999;
}
.OdCarConfigNav li:hover em{
	border-left-color: #e9e9e9;
}
.OdCarConfigNav li.active a{
	background-color: #666;
	color: #fff;
}
.OdCarConfigNav li.active em{
	border-left-color: #666;
}
/*品牌列表*/
#brand-box{
	position: relative;
}
.letter-list-box{
	width: 70px;
	position: absolute;
	/*left: 0px;*/
	/*transition: top 0.2s linear;*/
}
.letter-list-box.fixed{
	position: fixed;
	top: 118px;
}
.letter-list-box ul{
	border: 1px solid #e9e9e9;
	background: #fff;
	width: 58px;
	border-radius: 5px;
}
.letter-list-box ul li{
	position: relative;
	font-size: 12px;
	transition: background 0.2s linear;
}
.letter-list-box.small ul li a{
	line-height: 21px;
}
.letter-list-box ul li a{
	display: block;
	text-align: center;
	line-height: 28px;
	color: #666;
}
.letter-list-box ul li em{
	display: inline-block;
	position: absolute;
	width: 0;
	height: 0;
	border-width: 7px;
	border-style: solid;
	font-size: 0;
	line-height: 0;
	vertical-align: top;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-top-color: transparent;
    right: -14px;
    top: 7px;
	transition: border-color 0.2s linear;
}
.letter-list-box.small ul li em{
	top: 4px;
}
.letter-list-box ul li:first-child{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.letter-list-box ul li:last-child{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.letter-list-box ul li:hover,
.letter-list-box ul li.active{
	background:#404040;
}
.letter-list-box ul li.active em{
	border-left-color:#404040;
}
.letter-list-box ul li:hover a,
.letter-list-box ul li.active a{
	color: #fff;
}
.letter-list-box ul li:hover em{
	border-left-color: #404040;
}
.brand-list-box{
	margin-left: 70px;
	border: 1px solid #e9e9e9;
	border-radius: 5px;
	background: #fff;
}
.brand-list-by-letter{

}
.brand-list-by-letter .letter-title{
	font-size: 16px;
	line-height: 28px;
	border-bottom: 1px solid #e9e9e9;
	padding-left: 20px;
	background: #fbfbfb;
	display: none;
}
.brand-list-by-letter .letter-title:first-child{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.brand-list-by-brand{
	display: table;
	color: #666;
	width: 100%;
	border-bottom: 1px solid #e9e9e9;
}
.brand-list-by-brand .brand-logo{
	display: table-cell;
	width:120px;
	text-align: center;
	padding: 20px 0px 0px;
	border-right: 1px solid #e9e9e9;
}
.brand-list-by-brand .brand-logo .logo-box{
	display: inline-block;
	width: 78px;
	height: 78px;
	border: 1px solid #e9e9e9;
}
.brand-list-by-brand .brand-logo .logo-box .logo{
	display: table-cell;
	text-align: center;
	width: 78px;
	height: 78px;
	vertical-align: middle;
}
.brand-list-by-brand .brand-logo .logo-box .logo img{
	height: auto;
	width: 78px;
}
.brand-list-by-brand .brand-logo .title-box{
	font-size: 12px;
}
.brand-list-by-brand .brand-content{
	display: table-cell;
	vertical-align: top;
}
.brand-list-by-brand .brand-content .factory-title{
	font-size: 16px;
	line-height: 56px;
	padding-left: 20px;
}
.brand-list-by-brand .brand-content .factory-title .sales-status{
	display: inline-block;
	float: right;
	font-size: 12px;
	margin-right: 10px;
}
.brand-list-by-brand .brand-content .factory-title .sales-status a{
	color: #666;
	margin-left: 10px;
	line-height: 25px;
	padding: 0px 10px;
	border-radius: 3px;
	display: inline-block;
}
.brand-list-by-brand .brand-content .factory-title .sales-status a.active{
	color: #fff;
	background: #404040;
}
.brand-list-by-brand .brand-content .factory-title .sales-status span{
	display: inline-block;
	color: #ccc;
	margin-left: 10px;
	line-height: 25px;
	padding: 0px 10px;
	border-radius: 3px;	
}
.brand-list-by-brand .brand-content .factory-cars .salesBox{
	height: auto;
	overflow: auto;
	margin-bottom: 20px;
}
.brand-list-by-brand .brand-content .factory-cars .salesBox .cars-box{
	float: left;
	width: 180px;
	margin-bottom: 20px;
	margin-left: 20px;
}
.brand-list-by-brand .brand-content .factory-cars .salesBox .cars-box .img{
	line-height: 0;
	height: 129px;
	width: 180px;
	overflow: hidden;
	background: #e9e9e9;
	position: relative;
}
/*.brand-list-by-brand .brand-content .factory-cars .salesBox .cars-box .img .voice-label{
	position: absolute;
	display: block;
	right: 2px;
	top: 4px;
	background: url(http://imageqiniu.xxxxxbbs.com/FrTY8J7aHYYsgCm4-rBVDeO6UE84) no-repeat;
	width: 39px;
	height: 17px;
}*/
.brand-list-by-brand .brand-content .factory-cars .salesBox .sales-label{
	position: absolute;
	display: block;
	right: 5px;
	bottom: 5px;
	padding: 0px 6px;
	line-height: 20px;
	height: 20px;	
	border-radius: 3px;
	color: #fff;
	z-index: 3;
}
.brand-list-by-brand .brand-content .factory-cars .salesBox .sales-label.no{
	background: #434343
}
.brand-list-by-brand .brand-content .factory-cars .salesBox .sales-label.comming{
	background: #e12c2c
}
.brand-list-by-brand .brand-content .factory-cars .salesBox .sales-label.over{
	background: #707070
}
.brand-list-by-brand .brand-content .factory-cars .salesBox .cars-box a{
	font-size: 14px;
}
.brand-list-by-brand .brand-content .factory-cars .salesBox .cars-box .name{
	color: #666;
	margin-top: 7px;
}
.brand-list-by-brand .brand-content .factory-cars .salesBox .cars-box .name a{
	color: #666;
    font-size: 15px;
    font-weight: 600;
    width: 180px;
    display: inline-block;
    overflow: hidden;
    line-height: 22px;
    height: 22px;
    word-break: break-all;
	white-space: nowrap;
    text-overflow:ellipsis;
}
.brand-list-by-brand .brand-content .factory-cars .salesBox .cars-box .price{
	color: #999;
}
.brand-list-by-brand .brand-content .factory-cars .salesBox .cars-box .price a{
	color: #999
}
.brand-list-by-brand .brand-content .factory-cars .salesBox .cars-box .price em{
	color: #d61522;
}
/*=========================*/
.car-nav{
	width: 950px;
	height: 62px;
	background: #f3f3f3;
}
.car-nav-bar{
	width: 950px;
	height: 52px;
	background: #404040;
	border-radius: 5px;
	text-align: center;
	overflow: hidden;
}
.car-nav-bar a{
	display: inline-block;
	font-size: 14px;
	color: #fff;
	width: 140px;
	text-align: center;
	line-height: 52px;
	vertical-align: middle;
	position: relative;
}
.car-nav-bar a:hover{
	background: #303030;
}
.car-nav-bar a .arrow{
	position: absolute;
	bottom:0px;
	left: 50%;
	margin-left: -7px;
	display: inline-block;
	width: 0;
	height: 0;
	border-width: 7px;
	border-style: solid;
	font-size: 0;
	line-height: 0;
	vertical-align: top;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-top-color: transparent;
}
.car-nav-bar a .arrow.active{
	border-bottom-color: #f3f3f3;
}
.car-nav-bar .line{
	display: inline-block;
	width: 1px;
	height:24px;
	background-color: #4f4f4f;
	vertical-align: middle;
}
.config-filter{
	width: 950px;
	background: #f3f3f3;
}
.config-filter-box{
	width: 948px;
	background: #fff;
	margin-bottom: 10px;
	border: 1px solid #e9e9e9;
	border-radius: 5px;
}
.config-filter-box h3{
	line-height: 34px;
	font-size: 14px;
	padding-left:10px;
	border-bottom: 1px solid #e9e9e9;
	color: #666;
}
.filter{
	margin: 10px;
	font-size: 12px;
	display: table;
	width: 100%;	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.filter-table{
	display: table-cell;
	min-width: 33.3333%;
	padding-right: 10px;
}
.filter-table .cell{
	/*display: table-cell;*/
	/*width: 33.3333%;*/
	height: 36px;
}
.filter-table label{
	display: inline-block;
	line-height: 36px;
	margin-left: 5px;
}
.filter-table input{
	vertical-align: middle;
}
/*=========================车系首页=============================*/
.OdCar-cars-wrapper{
	width: 1020px;
}
.OdCar-cars-main{
	width: 710px;
	float: left;
}
.OdCar-cars-main .car-nav,
.OdCar-cars-main .car-nav-bar,
.OdCar-cars-main .car-nav-box{
	width: 710px;
}
.car-nav.fixed.gray .car-nav-box a .arrow.active{
	border-bottom-color: #4e4e4e;	
}
.OdCar-cars-main .car-nav{
	transition: top 0.2s linear;
	top: 0px;
}
.OdCar-cars-main .car-nav.fixed{
	width: 100%;
	position: fixed;
	top: 50px;
	background: #404040;
	left: 0px;
	height: 52px;
	z-index: 11;
	border-bottom: 10px solid #f3f3f3;
}
.OdCar-cars-main .car-nav.fixed .car-nav-bar{
	width: 1200px;
	margin: auto;
}
.OdCar-cars-main .car-nav.fixed .car-nav-box{
	margin-left: 180px;
}
.OdCar-cars-Top-pic{
	width: 710px;
	height: 337px;
}
.OdCar-cars-Top-pic .pic1{
	float: left;
	width: 450px;
	height: 337px;
	position: relative;
	overflow: hidden;
}
.OdCar-cars-Top-pic .pic1 .mask{
	top: 0px;
	left: 0px;
	position: absolute;
	width: 450px;
	height: 337px;
	background: url(http://imageqiniu.xxxxxbbs.com/FunN5Pi1_GVlsImbEov_rJhyUcZO) bottom repeat-x;
}
.OdCar-cars-Top-pic .pic1 .mask .title-box{
	display: block;
	width: 430px;
	text-align: left;
	position: absolute;
	bottom: 15px;
	left: 20px;
}
.OdCar-cars-Top-pic .pic1 .mask .title-box h3{
	font-size: 28px;
	color: #fff;
	line-height: 28px;
}
.OdCar-cars-Top-pic .pic1 .mask .title-box h3 em{
	font-size: 12px;
	display: inline-block;
	margin-left: 10px;
}
.OdCar-cars-Top-pic .pic1 .mask .price{
	font-size: 16px;
	color: #fff;
	line-height: 18px;
}
.OdCar-cars-Top-pic .pic-small{
	float: left;
	width: 250px;
	margin-left: 10px;      
}
.OdCar-cars-Top-pic .pic-small .pic2{
	width: 250px;
	height: 187px;
	margin-bottom: 10px;
	overflow: hidden;
}
.OdCar-cars-Top-pic .pic-small .pic3{
	width: 250px;
	height: 140px;
	overflow: hidden;
	position: relative;
}
.OdCar-cars-Top-pic .pic-small .pic3 .mask{
	top: 0px;
	width: 250px;
	height: 140px;
	position: absolute;
	background:url(http://imageqiniu.xxxxxbbs.com/FjwSsYDJPFw6pz82xRbvsDclSVPf) repeat;
}
.OdCar-cars-Top-pic .pic-small .pic3 .mask em{
	display: table-cell;
	vertical-align: middle; 
	text-align: center;
	font-size: 16px;
	color: #fff;
	width: 250px;
	height: 140px;
}
.OdCar-cars-opinion{
	height: 90px;
	background: #fff;
	border-radius: 5px;
	border:1px solid #e9e9e9;
	margin-top: 10px;
	text-align: center;
	vertical-align: middle;
}
.OdCar-cars-opinion .arrow-prev,
.OdCar-cars-opinion .arrow-next{
	display: inline-block;
	width: 12px;
	height: 90px;
	overflow: hidden;
	background-image: url(http://imageqiniu.xxxxxbbs.com/FgT76SL7FJMOv4b9NGFwyPashIIv);
	background-repeat: no-repeat;
	background-position: middle;
}
.OdCar-cars-opinion .arrow-prev.disabled,
.OdCar-cars-opinion .arrow-next.disabled{
	opacity: 0.3;
	filter:alpha(opacity=30);
	cursor: default;
}
.OdCar-cars-opinion .arrow-prev{
	background-position: 0px 32px; 
	margin-right: 26px;
}
.OdCar-cars-opinion .arrow-next{
	background-position: -14px 32px; 
	margin-left: 26px;
}
.OdCar-cars-opinion h4{
	display: inline-block;
	width: 590px;
	height: 90px;
	position: relative;
	overflow: hidden;
}
.OdCar-cars-opinion h4 ul{
	position: absolute;
}
.OdCar-cars-opinion h4 ul .title-item{
	width: 590px;
	height: 90px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.OdCar-cars-opinion h4 ul .title-item a{
	display: inline-block;
	text-align: left;
	font-size: 20px;
	color: #666;
	line-height: 1.5em;
}
.OdCar-cars-opinion h4 ul .title-item a .ico{
	display: inline-block;
	font-size: 12px;
	color: #33a4f7;
	background:#fff;
	border-radius: 3px;
	border: 1px solid #33a4f7;
	text-align: center;
	width: 36px;
	height: 20px;
	line-height: 20px;
	vertical-align: text-bottom;
	margin-right: 5px;
}
.OdCar-cars-config{

}
.OdCar-cars-config .cars-by-factory{
	background:#fff;
	border: 1px solid #e9e9e9;
	border-radius: 5px;
	margin-top: 10px;
	padding:0px 20px 20px;
}
.OdCar-cars-config .cars-by-factory .cars-by-factory-title{
	font-size: 18px;
	line-height: 65px;
}
.OdCar-cars-config .cars-by-factory .cars-by-factory-title .filter-box{
	display: inline-block;
	float: right;
	line-height: 26px;
	height: 26px;
	margin-top: 20px;
}
.OdCar-cars-config .cars-by-factory .cars-by-factory-title .filter-box .comming-btn,
.OdCar-cars-config .cars-by-factory .cars-by-factory-title .filter-box .being-btn,
.OdCar-cars-config .cars-by-factory .cars-by-factory-title .filter-box .year-btn{
	display: inline-block;
	line-height: 26px;
	height: 26px;
	padding: 0px 12px;
	color:#666;
	border-radius: 5px;
	font-size: 12px;
	transition:0.2s linear;
	cursor:pointer;
	position: relative;
}
.OdCar-cars-config .cars-by-factory .cars-by-factory-title .filter-box .comming-btn.active,
.OdCar-cars-config .cars-by-factory .cars-by-factory-title .filter-box .being-btn.active,
.OdCar-cars-config .cars-by-factory .cars-by-factory-title .filter-box .year-btn.active,
.OdCar-cars-config .cars-by-factory .cars-by-factory-title .filter-box .comming-btn:hover,
.OdCar-cars-config .cars-by-factory .cars-by-factory-title .filter-box .being-btn:hover,
.OdCar-cars-config .cars-by-factory .cars-by-factory-title .filter-box .year-btn:hover{
	color: #fff;
	background: #404040;
}
.OdCar-cars-config .cars-by-factory .cars-by-factory-title .filter-box .year-btn{
	border:1px solid #e9e9e9;
	padding-right: 5px;
	overflow: hidden;
	vertical-align: middle;
}
.OdCar-cars-config .cars-by-factory .cars-by-factory-title .filter-box .year-btn:hover{
	overflow: visible;
}
.OdCar-cars-config .cars-by-factory .cars-by-factory-title .filter-box .year-btn em{
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	width: 0;
	height: 0;
	border-width: 5px;
	border-style: solid;
	font-size: 0;
	line-height: 0;
	vertical-align: top;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-top-color: #ccc;
	transition:  0.2s linear;
}
.OdCar-cars-config .cars-by-factory .cars-by-factory-title .filter-box .year-btn:hover em{
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: #ccc;
	border-top-color: transparent;	
	margin-top: 5px;
}
.OdCar-cars-config .cars-by-factory .cars-by-factory-title .filter-box .year-btn .year-list{
	position: absolute;
	background: #fff;
	width: 0px;
	border-width: 0px;
	border-radius: 3px;
	text-align: center;
	left: 0;
	opacity: 0;
	z-index: 3;
	line-height: 24px;
	transition: opacity 0.2s linear
}
.OdCar-cars-config .cars-by-factory .cars-by-factory-title .filter-box .year-btn:hover .year-list{
	width: 75px;
	opacity: 1;
	border: 1px solid #e9e9e9;
}
.OdCar-cars-config .cars-by-factory .cars-by-factory-title .filter-box .year-btn .year-list a{
	display: block;
	padding: 0px 5px;
	color: #666;
}
.OdCar-cars-config .cars-by-factory .cars-by-factory-title .filter-box .year-btn .year-list a:hover{
	background-color: #f3f3f3;
}
.OdCar-cars-config .cars-by-factory  .cars-by-factory-title-box{
	top: 61px;
	transition: top 0.2s linear;
}
.OdCar-cars-config .cars-by-factory.fixed  .cars-by-factory-title-box{
	position: fixed;
	top: 102px;
	width: 100%;
	background: #4e4e4e;
	height: 40px;
	left: 0px;
	z-index: 12;
}
.OdCar-cars-config .cars-by-factory.fixed{
	padding-top: 65px;
}
.OdCar-cars-config .cars-by-factory.fixed .cars-by-factory-title{
	line-height: 40px;
	width: 1200px;
	margin: auto;
}
.OdCar-cars-config .cars-by-factory.fixed .cars-by-factory-title-content{
	width: 670px;
	padding: 0px 20px;
	margin-left: 180px;
}
.OdCar-cars-config .cars-by-factory.fixed .cars-by-factory-title .filter-box{
	margin-top: 5px;
} 
.OdCar-cars-config .cars-by-factory.fixed .cars-by-factory-title{
	color: #fff;
}
.OdCar-cars-config .cars-by-factory.fixed .cars-by-factory-title .filter-box .comming-btn, 
.OdCar-cars-config .cars-by-factory.fixed .cars-by-factory-title .filter-box .being-btn, 
.OdCar-cars-config .cars-by-factory.fixed .cars-by-factory-title .filter-box .year-btn{
	color: #fff;
}
.OdCar-cars-config .cars-by-factory.fixed .cars-by-factory-title .filter-box .year-btn{
	border-color: #6c6c6c;
}
.OdCar-cars-config .cars-by-factory .carx-list-box{
	margin-top: -10px;
	display: none;
}
.OdCar-cars-config .cars-by-factory .carx-list-box h5{
	line-height: 26px;
	background: #f5f5f5;
	font-size: 12px;
	color: #999;
	display: table;
	width: 100%;
	margin-top: 10px;
}
.OdCar-cars-config .cars-by-factory .carx-list-box h5 span{
	display: table-cell;
}
.OdCar-cars-config .cars-by-factory .carx-list-box .carx-item{
	line-height: 45px;
	border-bottom: 1px solid #e9e9e9;
	font-size: 12px;
	display: table;
	width: 100%;
}
.OdCar-cars-config .cars-by-factory .carx-list-box .carx-item span{
	display: table-cell;
}
.OdCar-cars-config .cars-by-factory .carx-list-box .carx-item span .state30{
	width: 51px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	background: url(http://imageqiniu.xxxxxbbs.com/Fm9sbQWRVNlNn4lGJ8A73v8RFxeN) no-repeat;
}
.OdCar-cars-config .cars-by-factory .carx-list-box .carx-item span .state40{
	width: 31px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	background: url(http://imageqiniu.xxxxxbbs.com/Fsl_N1qZBdevv_-gsIP3-uWppoJm) no-repeat;
}

.OdCar-cars-config .cars-by-factory .carx-list-box .carx-item span .state00{
	width: 30px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	background: url(http://imageqiniu.xxxxxbbs.com/FhVF5cfvQD0tG9y_6vM8YCzItbHI) no-repeat;
}
.OdCar-cars-config .cars-by-factory .carx-list-box .carx-item span .carx-operate-btn{
	display: inline-block;
	line-height: 25px;
	width: 50px;
	color:#404040;
	text-align: center;
	background: #fff;
	border: 1px solid #404040;
	border-radius: 5px;
	margin:0px 2px;
}
.OdCar-cars-config .cars-by-factory .carx-list-box .carx-item span .carx-operate-btn:hover{
	background: #404040;
	color: #fff;
}
.OdCar-cars-config .cars-by-factory .carx-list-box .carx-item span .carx-operate-btn.audio{
	border-color:#ff9600;
	color: #ff9600;
	width: 64px;
	padding-left: 6px;
	position: relative;
}
.OdCar-cars-config .cars-by-factory .carx-list-box .carx-item span .carx-operate-btn.audio i{
	display: inline-block;
	width: 0;
	height: 0;
	overflow: hidden;
	border-width: 6px;
	border-style: solid;
	font-size: 0;
	line-height: 0;
	vertical-align: text-top;
	margin-left: 5px;
	border-left-color: #ff9600;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-top-color: transparent;
	transition: border-color 0.2s linear;	
}
.OdCar-cars-config .cars-by-factory .carx-list-box .carx-item span .carx-operate-btn.audio:hover{
	color: #fff;
	background: #ff9600
}
.OdCar-cars-config .cars-by-factory .carx-list-box .carx-item span .carx-operate-btn.audio:hover i{
	border-left-color: #fff;
}
.OdCar-cars-config .cars-by-factory .carx-list-box .carx-item span .carx-operate-btn.disabled{
	opacity: 0.5;
	filter:alpha(opacity=50);
	cursor: default;
}
.OdCar-cars-config .cars-by-factory .carx-list-box .carx-item span .carx-operate-btn.disabled:hover{
	color: #666;
	background: #fff;
}
.OdCar-cars-config .cars-by-factory .carx-list-box .carx-item span .carx-operate-btn.pkdisabled{
	border:1px solid transparent;
	cursor: default;
}
.OdCar-cars-config .cars-by-factory .carx-list-box .carx-item span .carx-operate-btn.pkdisabled:hover{
	background: #fff;
	color: #666;
}
.OdCar-cars-sns{
	min-height: 200px;
	margin-top: 10px;
}
.OdCar-cars-right{
	width: 290px;
	float: left;
	margin-left: 20px;
	overflow: hidden;
	transition:top 0.2s linear
}
.OdCar-cars-right.fixed{
	position: fixed;
	margin-left: 730px;
    height: auto;
    overflow: visible;
}
/*=========================车型库图片==========================*/
.OdCar-cars-pic-main,
.OdCar-cars-pic-main .car-nav,
.OdCar-cars-pic-main .car-nav .car-nav-bar{
	width: 1020px;
	text-align: left;
	transition:top 0.2s linear;
	top: 0px;
}
.OdCar-cars-pic-main .car-nav.fixed{
	width: 100%;
	position: fixed;
	top: 50px;
	background: #404040;
	left: 0px;
	height: 52px;
	z-index: 11;
	border-bottom: 10px solid #f3f3f3;
}
.OdCar-cars-pic-main .car-nav.fixed .car-nav-bar{
	width: 1200px;
	margin: auto;
}
.OdCar-cars-pic-main .car-nav.fixed .car-nav-box{
	margin-left: 180px;
}
.car-pic-index-carx-list,
.car-pic-box{
	border:1px solid #e9e9e9;
	background: #fff;
	border-radius: 5px;
}
.car-pic-index-carx-list.fold{
	overflow: hidden;
	height: 34px;
}
.car-pic-index-carx-list h3{
	padding:0px 10px;
	font-size: 14px;
	line-height: 34px;
	border-bottom: 1px solid #e9e9e9;
}
.car-pic-index-carx-list h3 .carx-folder-btn{
	float: right;
	font-size: 12px;
	color: #33a4f7;
}
.car-pic-index-carx-list h3 .carx-folder-label{
	display: inline-block;
	border:1px solid  #33a4f7;
	font-size: 12px;
	color: #33a4f7;
	line-height: 18px;
	padding:0px 5px;
	border-radius: 3px;
	margin-left: 10px;
	vertical-align: middle;
}
.car-pic-index-carx-list h3 .carx-folder-label i{
	font-size: 20px;
    line-height: 18px;
    display: inline-block;
    float: right;
    margin-left: 5px;
    color: #666;
}
.car-pic-index-carx-list h3 .carx-folder-label:hover{
	color: #fff;
	background: #33a4f7
}
.car-pic-index-carx-list h3 .carx-folder-label:hover i{
	color: #fff;
}
.car-pic-index-carx-list h4{
	font-size: 14px;
	clear: both;
	margin-bottom: 5px;
	margin-top: 25px;
	color: #404040;
}
.car-pic-index-carx-list h4 .switch{
	display: inline-block;
	float: right;
	color: #666;
}
.car-pic-index-carx-list h4 .switch:hover{
	color: #33a4f7;
}
.car-pic-index-carx-list .carx-name-list{
	padding: 0px 30px 20px;
	height: auto;
	overflow: auto;
}
.car-pic-index-carx-list .carx-name-list .speclist-box{
	margin-left: 15px;
	border-left:13px solid #f3f3f3;
	height: auto;
	overflow: auto;
	padding-left: 20px;
}
.car-pic-index-carx-list .carx-name-list .carx-item{
	display: block;
	float: left;
	min-width: 33.33333%;
	color: #666;
	font-size: 14px;
	text-align: left;

	line-height: 26px;
	height: 26px;
}
.car-pic-index-carx-list .carx-name-list .byCate span{
	display: inline-block;
	margin-right: 40px;
	color: #404040;
}
.car-pic-index-carx-list .carx-name-list .byCate .carx-item{
	display: inline-block;
	float: none;
	color: #666;
}
.car-pic-index-carx-list .carx-name-list .carx-item.active,
.car-pic-index-carx-list .carx-name-list .carx-item:hover{
	color: #33a4f7
}
.car-pic-index-carx-list .carx-name-list .carx-item em{
	color: #999
}
.car-pic-box{
	margin-top: 10px;
}
.car-pic-box h3{
	font-size: 18px;
	line-height: 54px;
	padding:0px 20px;
}
.car-pic-box h3 em,
.car-pic-box h3 a{
	font-size: 12px;
	color: #999;
	display: inline-block;
}
.car-pic-box h3 em{
	margin-left: 10px;
}
.car-pic-box h3 a{
	float: right;
}
.car-pic-box h3 a:hover{
	color: #33a4f7
}
.car-pic-box .pic-box{
	margin-left: 18px;
	height: auto;
	overflow: auto;
}
.car-pic-box .pic-box .img-box{
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
	width: 230px;
	/*height: 170px;*/
}
.car-pic-box .pic-box .img-box .box{
	display: block;
	line-height: 0;
	background: #F3F3F3;
	height: 170px;
}
.car-pic-box .pic-box .img-box .name-link{
	line-height: 2em;
	color: #999;
}
.car-pic-box .pic-box .img-box .name-link:hover{
	color: #33a4f7;
}
.car-pic-box .pic-box .img-box .name-link h5{
	text-align: center;
	width: 230px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;	
}
/*===============================图片最终页==============================*/
.picinfo-wrapper{
	width: 1200px;
	margin: auto;
	height: 810px;
}
.picinfo-wrapper .picinfo-colum{
	line-height: 32px;
	margin-bottom: 10px;
	font-size: 14px;
}
.picinfo-wrapper .picinfo-colum a{
	color: #666;
}
.picinfo-wrapper .picinfo-colum .switch-carx{
	color: #999;
}
.picinfo-wrapper .picinfo-colum a:hover{
	color: #33a4f7
}
.picinfo-wrapper .picinfo-main{
	float: left;
	width: 1024px;
	height: 768px;
	background: #404040;
	position: relative;
}
.picinfo-wrapper .picinfo-main .prev-pic-btn,
.picinfo-wrapper .picinfo-main .next-pic-btn{
	display: inline-block;
	position: absolute;
	width: 55px;
	height: 85px;
	background-repeat: no-repeat;
	top: 342px;
}
.picinfo-wrapper .picinfo-main .next-pic-btn{
	right: 40px;
	background-image: url(http://imageqiniu.xxxxxbbs.com/FuZRyF5Jgv97fVw0d64wlRVpoVNz);
}
.picinfo-wrapper .picinfo-main .prev-pic-btn{
	left: 40px;
	background-image: url(http://imageqiniu.xxxxxbbs.com/Fq1l_X__aoqIJl4T-ToYdD0-igfp);
}
.picinfo-wrapper .picinfo-right{
	float: left;
	width: 176px;
	text-align: right;
}
.picinfo-wrapper .picinfo-right ul{
	width: 158px;
	border-radius: 5px;
	height: 176px;
	background: #fff;
	border: 1px solid #e9e9e9;
	display: inline-block;
}
.picinfo-wrapper .picinfo-right ul li{
	line-height: 42px;
	position: relative;
	font-size: 18px;
	text-align: center;
}
.picinfo-wrapper .picinfo-right ul li.disabled a{
	cursor: default;
}
.picinfo-wrapper .picinfo-right ul li.disabled:hover a{
	background: #fff;
	color: #666;
}
.picinfo-wrapper .picinfo-right ul li.disabled:hover em{
	border-right-color: transparent;
}
.picinfo-wrapper .picinfo-right ul li em{
	position: absolute;
	left: -14px;
	top: 14px;
	display: inline-block;
	width: 0;
	height: 0;
	border-width: 7px;
	border-style: solid;
	font-size: 0;
	line-height: 0;
	vertical-align: top;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-top-color: transparent;
	transition: border-color 0.2s linear;	
}
.picinfo-wrapper .picinfo-right ul li a{
	display: block;
	color: #666;
}
.picinfo-wrapper .picinfo-right ul li a i{
	color: #999;
	font-size: 12px;
}
.picinfo-wrapper .picinfo-right ul li.active a,
.picinfo-wrapper .picinfo-right ul li:hover a{
	background: #404040;
	color: #fff;
}
.picinfo-wrapper .picinfo-right ul li.active em,
.picinfo-wrapper .picinfo-right ul li:hover em{
	border-right-color: #404040;
}
.picinfo-wrapper .picinfo-right .view-original-picture{
	display: block;
	width: 160px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 14px;
	border-radius: 5px;
	background: #33a4f7;
	float: right;
	margin-top: 10px;
}
.picinfo-wrapper .picinfo-right .view-original-picture:hover{
	background-color: #308ccf
}
.picinfo-dealer{
	font-size: 14px;
	color: #666;
	line-height: 2em;
	margin-top: 10px;
	width: 1200px;
}
/*PK盒子*/
#pkContainer{
	width: 248px;
	background:#fff;
	border: 1px solid #e9e9e9;
	border-radius: 5px;
	padding: 20px;
}
#pkContainer h3{
	font-size: 18px;
	line-height: 1em;
	margin-bottom: 10px;
	position: relative;
}
#pkContainer .pk-carx-list{
	font-size: 14px;
}
#pkContainer .pk-carx-list li{
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e9e9e9;
}
#pkContainer .pk-carx-list li span{
	display: inline-block;
	width: 228px;
	line-height: 1.5em;
}
#pkContainer .pk-carx-list li .remove{
	display: inline-block;
    vertical-align: top;
    font-size: 24px;
    height: 10px;
    width: 20px;
    text-align: right;
    line-height: 20px;
    color: #ccc;
}
#pkContainer .pk-carx-list li .remove:hover{
	color: #666;
}
#pkContainer .pk-select{
    height: 38px;
    line-height: 38px;
    border: 1px solid #e9e9e9;
    background: #fff;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0px 10px;
    font-size: 14px;
    color: #999;
    position: relative;
    z-index: 5;
    cursor: pointer;
}
#pkContainer .pk-select .pk-select-text{
    display: inline-block;
    width: 205px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 38px;
    height: 38px;
    vertical-align: top;
}
#pkContainer .pk-select em{
	font-family: 'lsjcar';
	vertical-align: text-bottom;
}
#pkContainer .pk-select em:after{
	content: '\5D';
	font-size:20px;
	color: #e9e9e9;
	display: inline-block;
	vertical-align: top
}
#pkContainer .pk-select-list-box{
	position: absolute;
	padding-top:4px; 
	width: 246px;
	height: 458px;
	background: #fff;
	border: 1px solid #e9e9e9;
	z-index: 4;
	margin-top: -4px;
	display: none;
}
#pkContainer .pk-select-list-box .pk-select-colum{
	font-size: 14px;
	padding-left: 10px;
	/*line-height: 30px;*/
	padding:5px 10px;
	border-bottom: 1px solid #e9e9e9;
}
#pkContainer .pk-select-list-box .pk-select-colum a{
	color: #666;
}
#pkContainer .pk-select-list-box .pk-select-colum a:hover{
	color: #33a4f7
}
#pkContainer .pkBrandList,
#pkContainer .pkCarsList,
#pkContainer .pkCarxList{
	padding: 5px 0px;
	margin-left: 25px;
	width: 100%;
	background: #fff;
}
#pkContainer .pkCarsList,
#pkContainer .pkCarxList{
	margin-left: 0px;
}
#pkContainer .pkBrandList li,
#pkContainer .pkCarsList li,
#pkContainer .pkCarxList li{
	border-bottom: 1px solid #e9e9e9
}
#pkContainer .pkBrandList li a,
#pkContainer .pkCarsList li a,
#pkContainer .pkCarxList li a{
	display: block;
	color: #666;
	padding-left: 10px;
	font-size: 12px;
	line-height: 30px;
}
#pkContainer .pkCarsList li a{
	padding-left: 20px;
}
#pkContainer .pkCarxList li a{
	line-height: 18px;
	padding:10px;
}
#pkContainer .pkBrandList li a:hover,
#pkContainer .pkCarsList li a:hover,
#pkContainer .pkCarxList li a:hover{
	background-color: #f0f0f0;
}
#pkContainer .pkBrandList h5{
	line-height: 20px;
	padding-left: 10px;
	background: #f0f0f0;
	width: 100%;
	border-bottom: 1px solid #e9e9e9
}
#pkContainer .pkLetterList{
	position: absolute;
	left: 5px;
	top: 5px;
}
#pkContainer .pkLetterList a{
	display: block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    background: #fff;
    border-radius: 3px;
    color: #666;
    text-align: center;
    font-size: 12px;
    margin-bottom: 3px;
    border: 1px solid #666;
}
#pkContainer .pkLetterList a:hover{
	background: #404040;
	color: #fff;
}
#pkContainer .pkCarsList .saleTitle{
	padding-left: 10px;
	background: #e9e9e9;
	line-height: 30px;
	font-size: 14px;
}
#pkContainer .pkCarsList .factoryTitle{
	line-height: 24px;
	background: #f5f5f5;
	font-size: 12px;
	padding-left: 20px;
	color: #999;
}
#pkContainer .pkBtn{
	display: block;
	width: 250px;
	line-height: 40px;
	height: 40px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	background: #404040;
	border-radius: 5px;
	margin-top: 10px;
}
#pkContainer .pkBtn:hover{
	background: #303030
}
#OdCar-aside{
	position: fixed;
	top: 0px;
	right: -290px;
	width: 290px;
	height: 100%;
	z-index: 30;
	background: #fff;
	border-left:1px solid #e9e9e9; 
	transition: right 0.2s linear
}
#OdCar-aside.active{
	right: 0;
	box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.26);
}
#OdCar-pk-btn-aside{
	height: 50px;
	width: 50px;
	background: #fff;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	position: fixed;
	top: 162px;
	right: -50px;
	z-index: 29;
	background: #404040;
	color: #fff;
	line-height: 50px;
	transition: right 0.2s linear;
}
#OdCar-pk-btn-aside.active{
	right: 0;
}
#OdCar-pk-btn-aside span{
	display: inline-block;
	font-size: 18px;
	font-style: italic;
	margin-left: 12px;
}
#OdCar-aside #pkContainer{
	border: none;
}
.footer1 {
    height: 70px;
    background: #e2e2e2;
    padding-top: 30px;
    overflow: hidden;
}
.foot-left a {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}
.foot-left .foot-logo img {
    height: 40px;
} 
.foot-left-text {
    display: inline-block;
    color: #999;
    font-size: 16px;
    margin: 0px 20px;
    vertical-align: bottom;
}
.foot-right {
    color: #999;
    font-size: 12px;
    margin-top: 11px;
}
.foot-right img {
    vertical-align: middle;
    margin-right: 4px;
    margin-left: 8px;
}
.foot-friend {
    margin-right: 8px;
}
.imgCount{
	/*display: none;*/
}