@font-face {
	font-family: 'lsj';
	src: url('../static/font/lsjv1.5.eot');
	src: url('../static/font/lsjv1.5.eot?#iefix') format('embedded-opentype'), url('../static/font/lsjv1.5.ttf') format('truetype'), url('../static/font/lsjv1.5.woff') format('woff'), url('../static/font/lsjv1.5.svg#ywf') format('svg');
}
html,body{
	font:14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
	-webkit-font-smoothing:antialiased;
	font-weight: 400;
}
a{
	outline: none;
	text-decoration: none;
	transition: all 0.2s linear; 
}
img{
	border: none;
}
input,textarea,select{
	outline: none;
	resize: none;
	font:14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
ul,li,dl,dt,dd{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
i,em,b{
	font-style: normal;
	font-weight: normal;
}
label{
	display: inline-block;
}
.forTheLine{
	display: block;
	height: 1.2em;
}
/*信使样式*/
.odAlert,
.odWindow{
	position:absolute;
	background:#fff;
	border-radius:5px;
	left:50%;
	padding:20px;
	border:1px solid #e9e9e9;
	opacity:0;
	filter:alpha(opacity=0);
	text-align:center;
	z-index: 1001;
}
.odAlert .odAlertSubmitBtn,
.odWindow .odWindowSubmitBtn{
	text-decoration:none;
	display:inline-block;
	font-size:12px;
	min-width:60px;
	padding:0px 20px;
	line-height:30px;
	text-align:center;
	color:#fff;
	background:#404040;
	border-radius:5px;
	transition: background 0.3s ease-out;
}
.odAlert .odAlertSubmitBtn:hover,
.odWindow .odWindowSubmitBtn:hover{
	background:#191919;
}
.odAlert .odAlertCancelBtn,
.odWindow .odWindowCancelBtn{
	text-decoration:none;
	display:inline-block;
	font-size:12px;
	min-width:60px;
	padding:0px 20px;
	line-height:30px;
	text-align:center;
	color:#404040;
	background:#dedede;
	border-radius:5px;
	margin-left:10px;
	transition: background 0.3s ease-out;	
}
.odAlert .odAlertCancelBtn:hover,
.odWindow .odWindowCancelBtn:hover{
	background: #e9e9e9;
}
/*弹窗*/
.odWindow{
	padding:0;
}
.odWindow .odWindowTitle{
	height: 50px;
	line-height: 50px;
	/*position: relative;*/
	padding: 0px 20px;
	border-bottom: 1px solid #e9e9e9;
}
.odWindow .odWindowTitle h3{
	margin: 0;
	font-size: 16px;
	color:#666;
	text-align: left;
	font-weight: 200;
}
.odWindow .content{
	text-align:left;
	margin-bottom:20px;
	min-width: 300px;
	margin:20px;	
}
.odWindow .odWindowSubmitBtn{
	margin-bottom: 20px;
}
.odWindow .odWindowcloseBtn{
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 5px;
	line-height: 1em;
	color:#d8d8d8;
	transition: color 0.2s linear;
}
.odWindow .odWindowcloseBtn:hover{
	color: #191919;
}
.odWindow .odWindowcloseBtn i{
	display: inline-block;
	font-family: 'lsj';
	font-style: normal;
	line-height: 1em;
	font-size: 26px;
	vertical-align: top;
}
.odWindow .odWindowcloseBtn i:after{
	content:'\3B';
}
/*自定义滚动*/
.odCustomScroll .scrollBar{
	position: absolute;
	right: 0px;
	background-color:#000; 
	background-color: rgba(0,0,0,0);
	filter:alpha(opacity=0);
	width:10px;
	height: 100%;
	transition: all 0.2s linear;
}
.odCustomScroll .letterList{
	left: 10px;
	top: 1px;
	padding-top: 6px;
	width: 20px;
	background: #fff;
}
.odCustomScroll .letterList a{
	display: block;
	width: 14px;
	height:14px;
	line-height: 14px;
	background: #fff;
	border-radius: 3px;
	color: #666;
	text-align: center;
	font-size: 12px;
	margin-bottom: 3px;
	border: 1px solid #666;
}
.odCustomScroll .letterList a:hover{
	border: 1px solid #404040;
	background: #404040;
	color: #fff;
}
.odCustomScroll:hover .scrollBar{
	background-color: rgba(0,0,0,0.1);
	filter:alpha(opacity=10);
}
.odCustomScroll .scrollBar .handle{
	position: absolute;
	display: inline-block;
	width:100%;
	background-color:#000;
	filter:alpha(opacity=100);
	background-color: rgba(0,0,0,0);
	transition: background-color 0.2s linear;
}
.odCustomScroll:hover .scrollBar .handle{
	background-color:#404040;
	filter:alpha(opacity=100);
	background-color: rgba(64,64,64,1);
}
/*浮动层*/
.OdPopLayer{
	position: absolute;
	z-index: 5;
	background: #fff;
	border-radius: 5px;
	border:1px solid #e9e9e9;
	padding:20px;
	left: 500px;
	opacity: 0;
	transform: translate(0px, -10px);
}
.OdPopLayer .pop-close{
	color: #d8d8d8;
	position: absolute;
	right: 10px;
	top: 12px;
	display: inline-block;
	font-family: 'lsj';
	font-style: normal;
	font-size: 18px;
	line-height: 0em;
	vertical-align: top;
	text-decoration: none;
}
.OdPopLayer .pop-close:after{
	content:'\3B';
	display: inline-block;
	line-height: 0em;
}
.OdPopLayer.show{
	margin-top: 0px;
	opacity: 1;
	transform: translate(0px, 0px);
}
.OdPopLayer .arrow{
	display: inline-block;
	position: absolute;
	top: -14px;
	left: 0px;
	width: 14px;
	text-align: center;
	/*background: #f00;*/

}
.OdPopLayer .arrow em,
.OdPopLayer .arrow i{
	display: inline-block;
	width: 0;
	height: 0;
	border-width: 7px;
	border-style: solid;
	font-size: 0;
	line-height: 0;
	vertical-align: top;
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
	position: absolute;
}
.OdPopLayer .arrow em{
	border-bottom-color: #e9e9e9;
}
.OdPopLayer .arrow i{
	border-bottom-color: #fff;
	margin-top: 2px;
}
/*at和话题提示列表*/
.odTextareaInputList{
	position:absolute;
	border:1px solid #e9e9e9;
	min-width: 175px;
	max-width: 300px;
	line-height: 33px;
	background:#fff;
}
.odTextareaInputList li{
	padding: 0px 10px;
	line-height: 33px;
	font-size: 14px;
	transition: all 0.2s linear;
}
.odTextareaInputList li a{
	color: #666;
	display: block;
}
.odTextareaInputList .active{
	background-color: #eee;
	
}
.odTextareaInputList .active a{
	color: #33a4f7;
}
.long-img-ico{
	display: inline-block;
	position: absolute;
	font-size: 12px;
	color:#fff;
	background-color: #ffb90a;
	padding: 0px 5px;
	right: 0px;
	bottom: 0px;
	line-height: 1.5em
}
/*焦点图*/
/*.slide .slide-nav li{
	margin:0px 2px;
}
.slide .slide-nav li a{
	display: block;
	line-height: 30px;
}
.slide .slide-nav li a i{
	display: inline-block;
	height: 3px;
	width:40px;
	background-color: #fff;
	background-color: rgba(255,255,255,0.4);
	filter:alpha(opacity=40);
	transition: background-color 0.5s linear
}
.slide .slide-nav .active a i{
	background-color: rgba(255,255,255,1);
}
.slideLeftHandle,
.slideRightHandle{
	position: absolute;
	display: block;
	width: 40px;
	height: 59px;
	margin-top: -30px;
	top: 50%;
}*/
.OdSlideWrapper{
	position: relative;
	overflow: hidden;
}
.OdSlideMainUl,
.OdSlideThumbUl{
	position: absolute;
}
.OdSlideMainUl{
	top:0px;
	transition:top 0.5s linear;
}
.OdSlideThumbUl{
	right: 0px;
}
.OdSlideThumbUl li{
	line-height: 0;
	cursor: pointer;
	position: relative;
}
.OdSlideThumbUl li span{
	position: absolute;
	display: block;
	border:2px solid transparent;
	transition: all 0.2s linear;
}
.OdSlideThumbUl li span em{
	transition: all 0.2s linear;
	display: inline-block;
	width: 0;
	height: 0;
	border-width: 7px;
	border-style: solid;
	font-size: 0;
	line-height: 0;
	vertical-align: top;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
	border-right-color:transparent;
	position: absolute;
	left: -14px;
}
.OdSlideThumbUl li.active span{
	border-color: #33a4f7;
}
.OdSlideThumbUl li.active span em{
	border-right-color:#33a4f7;
}
.slideLeftHandle{
	left: 0px;
	background:url(http://imageqiniu.xxxxxbbs.com/Fgjc2ckDECTcsONRG0bBKgFXnnnB) no-repeat;
}
.slideRightHandle{
	right: 0px;
	background: url(http://imageqiniu.xxxxxbbs.com/FiWM9wiPzpBB9BksX464FX_i6zDB) no-repeat;
}
/*九宫格*/
.odMediaBox .slideThumb li{
	position: relative;
}
.odMediaBox .slideThumb li a{
	transition: all 0.2s linear;
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
	background-color: #000;
	filter:alpha(opacity=50);
	background-color: rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #000;
	border-color: rgba(0,0,0,0);
}
.odMediaBox .slideThumb .active a{
	background:none;
	filter:alpha(opacity=100); 
	border-color: #ffb90a;
}
.odMediaBox .checkBtnBox{
	margin-bottom: 5px;
}
.odMediaBox .checkBtnBox .shutBtn,
.odMediaBox .checkBtnBox .bigPicBtn{
	display: inline-block;
	font-size: 12px;
	line-height: 18px;
	color:#454444;
	margin-right: 25px;
	transition: color 0.2s linear;
}
.odMediaBox .checkBtnBox .shutBtn:hover,
.odMediaBox .checkBtnBox .bigPicBtn:hover{
	color: #999;
}
.odMediaBox .checkBtnBox .shutBtn i,
.odMediaBox .checkBtnBox .bigPicBtn i{
	display: inline-block;
	vertical-align: middle;
	font-family: 'lsj';
	font-size: 16px;
	margin-right: 5px;
}
.odMediaBox .checkBtnBox .shutBtn i:after{
	content: '\58';
}
.odMediaBox .checkBtnBox .bigPicBtn i:after{
	content: '\53';
}
/*发布内容进程*/
.pub-success{
	position: absolute;
	text-align: center;
	font-size: 16px;
	transition: opacity 0.2s linear;
	z-index: 1001;
	background-color: #fff;
	border-radius: 5px;
}
.pub-success i{
	display:inline-block;
	width:40px;
	height:40px;
	line-height: 40px;
	background-color: #76e061;
	border-radius: 40px;
	font-family: 'lsj';
	color: #fff;
	vertical-align: middle;
	margin-right: 10px;
}
.pub-success i:after{
	content: '\23';
	font-size:30px;
	font-weight: bold;
}
/*自定义下拉表单*/
.OdSelectContainer{
	display: inline-block;
	position: relative;
}
.OdSelectContainer .OdSelectMain{
	position: relative;
	display: inline-block;
	width:178px;
	height: 28px;
	line-height: 28px;
	background: #fff;
	border:1px solid #e9e9e9;
	border-radius: 3px;
	text-align: left; 	
}
.OdSelectContainer .OdSelectMain span{
	margin-left: 10px;
	display: inline-block;
	font-size: 12px;
	color: #666;
	width: 138px;
	height: 28px;
	line-height: 28px;
	text-align: left;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.OdSelectContainer .OdSelectMain.disabled span{
	color: #eee
}
.OdSelectContainer .OdSelectMain em{
	transition: all 0.2s linear;
	display: inline-block;
	font-family: 'lsj';
	position: absolute;
	right: 10px;
	font-size: 12px;
	color: #d2d2d2;
}
.OdSelectContainer .OdSelectMain em:after{
	content: '\5D';
}
.OdSelectContainer .OdSelectMenuContainer{
	position: absolute;
	min-width: 178px;
	border:1px solid #e9e9e9;
	border-top: none;
	top: 29px;
	left: 0px;
	background: #fff;
	z-index: 30;
	overflow: hidden;
	transition: height 0.2s linear;
}
.OdSelectContainer .OdSelectMenuBox ul{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;	
	width: 100%;
}
.OdSelectContainer .OdSelectMenuBox ul .saleTitle{
	background: #e9e9e9;
	line-height: 30px;
	font-size: 14px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: -10px;
	width: 100%;
}
.OdSelectContainer .OdSelectMenuBox ul .factoryTitle{
	background: #f3f3f3;
	line-height: 24px;
	font-size: 12px;
	text-align: left;	
padding-left: 10px;
	padding-right: 10px;
	margin-left: -10px;
	width: 100%;
}
.OdSelectContainer .OdSelectMenuBox li a{
	display: block;
	line-height: 1.2em;
	padding: 10px 0px;
	border-bottom: 1px solid #e9e9e9;
	color: #666;
	text-align: left;
}
.OdSelectContainer .OdSelectMenuBox li a:hover{
	color: #33a4f7
}